body {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3d3d3;
}

.card {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0px 0px 10px rgba(0, 220, 0, 0);
  border: 2px solid #2df8aa;
  max-width: 400px;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 223, 0, 0.87);
}

h1 {
  text-align: center;
  background-color: #2df87163;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  color: black;
}

.clock {
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.day {
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-element {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  margin: 0px 10px;
  text-align: center;
}

.time-element {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  margin: 0px 10px;
}

.colon-element {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin: 0px 10px;
}
